
<h3>Pool 1</h3>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Name</th>
			<th>R1</th>
			<th>R2</th>
			<th>R3</th>
			<th>R4</th>
			<th>R5</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1. <%= @seed1.name %> <%= @seed1.season_win %>-<%= @seed1.season_loss %> <%= School.find(@seed1.school_id).name %></td>
			<td>BYE</td>
			<td>V3</td>
			<td>V5</td>
			<td>V4</td>
			<td>BYE</td>
		</tr>
		<tr>
			<td>2. BYE</td>
			<td>V1</td>
			<td>V5</td>
			<td>V4</td>
			<td>BYE</td>
			<td>V3</td>
		</tr>
		<tr>
			<td>3. <%= @seed3.name %> <%= @seed3.season_win %>-<%= @seed3.season_loss %> <%= School.find(@seed3.school_id).name %></td>
			<td>V4</td>
			<td>V1</td>
			<td>BYE</td>
			<td>V5</td>
			<td>BYE</td>
		</tr>
		<tr>
			<td>4. <%= @seed4.name %> <%= @seed4.season_win %>-<%= @seed4.season_loss %> <%= School.find(@seed4.school_id).name %></td>
			<td>V3</td>
			<td>BYE</td>
			<td>BYE</td>
			<td>V1</td>
			<td>V5</td>
		</tr>
		<tr>
			<td>5. <%= @seed2.name %> <%= @seed2.season_win %>-<%= @seed2.season_loss %> <%= School.find(@seed2.school_id).name %></td>
			<td>BYE</td>
			<td>BYE</td>
			<td>V1</td>
			<td>V3</td>
			<td>V4</td>
		</tr>		
  	</tbody>
</table>

