
<h3>Pool 1</h3>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Name</th>
			<th>R1</th>
			<th>R2</th>
			<th>R3</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1. <%= @seed1.name %> <%= @seed1.season_win %>-<%= @seed1.season_loss %> <%= School.find(@seed1.school_id).name %></td>
			<td>BYE</td>
			<td>V3</td>
			<td>V4</td>
		</tr>
		<tr>
			<td>2. BYE</td>
			<td>V1</td>
			<td>V4</td>
			<td>V3</td>
		</tr>
		<tr>
			<td>3. <%= @seed12.name %> <%= @seed12.season_win %>-<%= @seed12.season_loss %> <%= School.find(@seed12.school_id).name %></td>
			<td>V4</td>
			<td>V1</td>
			<td>BYE</td>
		</tr>
		<tr>
			<td>4. <%= @seed8.name %> <%= @seed8.season_win %>-<%= @seed8.season_loss %> <%= School.find(@seed8.school_id).name %></td>
			<td>V3</td>
			<td>BYE</td>
			<td>V1</td>
		</tr>		
  	</tbody>
</table>
<br>
<br>
<h3>Pool 2</h3>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Name</th>
			<th>R1</th>
			<th>R2</th>
			<th>R3</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>5. <%= @seed2.name %> <%= @seed2.season_win %>-<%= @seed2.season_loss %> <%= School.find(@seed2.school_id).name %></td>
			<td>BYE</td>
			<td>V7</td>
			<td>V8</td>
		</tr>
		<tr>
			<td>6. BYE</td>
			<td>V6</td>
			<td>V8</td>
			<td>V7</td>
		</tr>
		<tr>
			<td>7. <%= @seed11.name %> <%= @seed11.season_win %>-<%= @seed11.season_loss %> <%= School.find(@seed11.school_id).name %></td>
			<td>V8</td>
			<td>V5</td>
			<td>BYE</td>
		</tr>
		<tr>
			<td>8. <%= @seed7.name %> <%= @seed7.season_win %>-<%= @seed7.season_loss %> <%= School.find(@seed7.school_id).name %></td>
			<td>V7</td>
			<td>BYE</td>
			<td>V5</td>
		</tr>	
  	</tbody>
</table>
<h3>Pool 3</h3>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Name</th>
			<th>R1</th>
			<th>R2</th>
			<th>R3</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>9. <%= @seed3.name %> <%= @seed3.season_win %>-<%= @seed3.season_loss %> <%= School.find(@seed3.school_id).name %></td>
			<td>BYE</td>
			<td>V11</td>
			<td>V12</td>
		</tr>
		<tr>
			<td>10. BYE</td>
			<td>V9</td>
			<td>V12</td>
			<td>V11</td>
		</tr>
		<tr>
			<td>11. <%= @seed10.name %> <%= @seed10.season_win %>-<%= @seed10.season_loss %> <%= School.find(@seed10.school_id).name %></td>
			<td>V12</td>
			<td>V9</td>
			<td>BYE</td>
		</tr>
		<tr>
			<td>12. <%= @seed6.name %> <%= @seed6.season_win %>-<%= @seed6.season_loss %> <%= School.find(@seed6.school_id).name %></td>
			<td>V11</td>
			<td>BYE</td>
			<td>V9</td>
		</tr>		
  	</tbody>
</table>
<br>
<br>
<h3>Pool 4</h3>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Name</th>
			<th>R1</th>
			<th>R2</th>
			<th>R3</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>13. <%= @seed4.name %> <%= @seed4.season_win %>-<%= @seed4.season_loss %> <%= School.find(@seed4.school_id).name %></td>
			<td>BYE</td>
			<td>V15</td>
			<td>V16</td>
		</tr>
		<tr>
			<td>14. BYE</td>
			<td>V13</td>
			<td>V16</td>
			<td>V15</td>
		</tr>
		<tr>
			<td>15. <%= @seed9.name %> <%= @seed9.season_win %>-<%= @seed9.season_loss %> <%= School.find(@seed9.school_id).name %></td>
			<td>V16</td>
			<td>V13</td>
			<td>BYE</td>
		</tr>
		<tr>
			<td>16. <%= @seed5.name %> <%= @seed5.season_win %>-<%= @seed5.season_loss %> <%= School.find(@seed5.school_id).name %></td>
			<td>V15</td>
			<td>BYE</td>
			<td>V13</td>
		</tr>		
  	</tbody>
</table>
<br>
<br>