<% @round = 1 %>
<% @pool = 1 %>
<% until @wrestlers.select{|w| w.generatePoolNumber == @pool}.blank? %>
    <h5>Pool <%= @pool %></h5>
    <table class="table table-striped table-bordered">
    	<thead>
    		<tr>
    			<th>Name</th>
    			<% until @matches.select{|m| m.round == @round}.blank? %>
    			 <% if @round <= @weight.poolRounds(@matches) %>
    			    <th>R<%= @round %></th>
    			 <% end %>
    			 <% @round = @round + 1 %>
    			<% end %>
    		</tr>
    	</thead>
    	<tbody>
    		<% @wrestlers.select{|w| w.generatePoolNumber == @pool}.each do |w| %>
    		<tr>
    			<td><%= w.original_seed %> <%= w.name %> <%= w.season_win %>-<%= w.season_loss %> <%= w.school.name %></td>
    			<% @round = 1 %>
    			<% until @matches.select{|m| m.round == @round}.blank? %>
    			    <% if @round <= @weight.poolRounds(@matches) %>
    			        <td><%= w.boutByRound(@round,@matches) %><br>Result</td>
    			    <% end %>
    			    <% @round = @round + 1 %>
    			<% end %>

    		</tr>
    		<% end %>
      	</tbody>
    </table>
<% @pool = @pool + 1 %>
<% @round = 1 %>
<% end %>