<h5>Pool 1</h5>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Name</th>
			<th>R1</th>
			<th>R2</th>
			<th>R3</th>
			<th>R4</th>
			<th>R5</th>
		</tr>
	</thead>
	<tbody>
		<% @poolOneWrestlers.sort_by{|x|[x.original_seed]}.each do |w| %>
		<tr>
			<td><%= w.original_seed %> <%= w.name %> <%= w.season_win %>-<%= w.season_loss %> <%= w.school.name %></td>
			<td><%= w.boutByRound(1,@matches) %><br></td>
			<td><%= w.boutByRound(2,@matches) %></td>
			<td><%= w.boutByRound(3,@matches) %></td>
			<td><%= w.boutByRound(4,@matches) %></td>
			<td><%= w.boutByRound(5,@matches) %></td>
		</tr>
		<% end %>
  	</tbody>
</table>

<h5>Pool 2</h5>
<table class="table table-striped table-bordered">
	<thead>
		<tr>
			<th>Name</th>
			<th>R1</th>
			<th>R2</th>
			<th>R3</th>
			<th>R4</th>
			<th>R5</th>
		</tr>
	</thead>
	<tbody>
		<% @poolTwoWrestlers.sort_by{|x|[x.original_seed]}.each do |w| %>
		<tr>
			<td><%= w.original_seed %> <%= w.name %> <%= w.season_win %>-<%= w.season_loss %> <%= w.school.name %></td>
			<td><%= w.boutByRound(1,@matches) %><br></td>
			<td><%= w.boutByRound(2,@matches) %></td>
			<td><%= w.boutByRound(3,@matches) %></td>
			<td><%= w.boutByRound(4,@matches) %></td>
			<td><%= w.boutByRound(5,@matches) %></td>
		</tr>
		<% end %>
  	</tbody>
</table>

<% if @bracketType == "twoPoolsToFinal" %>
<%= render 'twoPoolFinalBracket' %>
<% end %>
<% if @bracketType == "twoPoolsToSemi" %>
<%= render 'twoPoolSemiBracket' %>
<% end %>
