</br>
</br>
</br>

<%= link_to "Back to #{@tournament.name} weights", "/static_pages/weights?tournament=#{@tournament.id}" %>
<br>
<br>
<h1><%= @weight.max %> lbs Bracket</h1>
<% if @weight.pools == 4 %>
	<%= render 'fourPool' %>
<% elsif @weight.pools == 2 %>
	<%= render 'twoPool' %>
<% elsif @weight.pools == 1 %>
	<%= render 'onePool' %>
<% end %>