<h1>Pick A Tournament</h1>
<script>
  $(document).ready(function() {
     $('#tournamentList').dataTable();
     pagingType: "bootstrap";
  } );
</script>
<% if user_signed_in? %>
  <%= link_to 'New Tournament', new_tournament_path, :class=>"btn btn-success" %>
<% end %>
</br>
</br>
<table class="display compact cell-border" id="tournamentList">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tournaments.each do |tournament| %>
      <tr>
        <td><%= tournament.name %></td>
        <td><%= link_to 'Show', tournament, :class=>"btn btn-default" %>
          <% if tournament_permissions(tournament) %>
            <%= link_to 'Edit', edit_tournament_path(tournament), :class=>"btn btn-primary" %>
            <%= link_to 'Destroy', tournament, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


