<%= link_to "Back to #{@tournament.name}", "/tournaments/#{@tournament.id}" %>
<br>
<br>
<h3>Upcoming Matches</h3>
<br>
<br>
<table class="display compact cell-border" id="matches">
  <thead>
    <tr>
      <th>Round</th>
      <th>Bout Number</th>
      <th>Weight Class</th>
      <th>Matchup</th>
    </tr>
  </thead>

  <tbody>
    <% @matches.each.map do |m| %>
      <tr>
        <td>Round <%= m.round %></td>
        <td><%= m.boutNumber %></td>
        <td><%= m.weight_max %> lbs</td>
        <td><%= m.w_name(m.w1) %> vs. <%= m.w_name(m.w2) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
