<%= link_to "Back to #{@tournament_name}", "/tournaments/#{@tournament_id}", :class=>"btn btn-default" %>
<br>
<br>
<% if @tournament %>
    <% @weights.each do |weight| %>
        <%= link_to "#{weight.max}" , "/static_pages/weigh_in?weight=#{weight.id}" %>
        <br>
    <% end %>
    <br>
    <% if tournament_permissions(@tournament) %>
        <%= form_for(@tournament) do |f| %>
            <div class="field">
                <%= f.label :weigh_in_ref %><br>
                <%= f.text_field :weigh_in_ref %>
              </div>
              <br>
              <%= f.submit 'Submit', :class=>"btn btn-success" %>
        <% end %>
    <% end %>
<% end %>

<% if @weight %>
    <%= link_to "Back to weigh in weights","/static_pages/weigh_in?tournament=#{@tournament_id}", :class=>"btn btn-default" %>
    <br><br>
    <table class="table table-striped table-bordered">
    	<thead>
    		<tr>
    			<th>Name</th>
    			<th>School</th>
    			<th>Seed</th>
    			<th>Weight Class</th>
    			<th>Offical Weight</th>
    		</tr>
    	</thead>
    	<tbody>
        <%= form_tag @wrestlers_update_path do %>
    		<% @wrestlers.order("original_seed asc").each do |wrestler| %>
          		<% if wrestler.weight_id == @weight.id %>
          			<tr>
          				<td><%= wrestler.name %></td>
          				<td><%= School.find(wrestler.school_id).name %></td>
          				<td><%= wrestler.original_seed %></td>
          				<td><%= wrestler.weight.max %></td>
          				<td>
                    <% if user_signed_in? %>
                      <%= fields_for "wrestler[]", wrestler do |w| %>
                        <%= w.number_field  :offical_weight, :step => 'any' %>
                      <% end %> 
                    <% else %>
                      <%= wrestler.offical_weight %>
                    <% end %>
                  </td>
          			</tr>
          		<% end %>
        	<% end %>
      	</tbody>
    </table>
    <%= hidden_field_tag :tournament, @tournament_id %>
    		<% if tournament_permissions(@tournament)   %>
    	      <%= submit_tag "Save", :class=>"btn btn-success"%>
    	    <% end %>
        <% end %>
<% end %>
