<h5>Bracket After Pool</h5>
<main id="bracket">
	<ul class="round round-1">
		<% @matches.select{|m|m.bracket_position == "1/2"}.each do |match| %>
		<li>&nbsp;</li>
		
		<li class="game game-top "><%= match.w1_name %> <span></span></li>
		<li><%= match.bout_number %> <%= match.bracket_score_string %>&nbsp;</li>
		<li class="game game-bottom "><%= match.w2_name %><span></span></li>

		<li>&nbsp;</li>
		
	</ul>
	<ul class="round round-2">
		<li>&nbsp;</li>
		
		<li class="bracket-winner"><%= match.winner_name %><span></span></li>
		1st

		<li>&nbsp;</li>
	</ul>
		<% end %>
</main>

<main id="bracket">
	<ul class="round round-1">
		<% @matches.select{|m|m.bracket_position == "3/4"}.each do |match| %>
		<li>&nbsp;</li>
		
		<li class="game game-top "><%= match.w1_name %> <span></span></li>
		<li><%= match.bout_number %> <%= match.bracket_score_string %>&nbsp;</li>
		<li class="game game-bottom "><%= match.w2_name %><span></span></li>

		<li>&nbsp;</li>
		
	</ul>
	<ul class="round round-2">
		<li>&nbsp;</li>
		
		<li class="bracket-winner"><%= match.winner_name %> <span></span></li>
		3rd

		<li>&nbsp;</li>
	</ul>
		<% end %>
</main>

