</br>
</br>
</br>

<%= link_to "Back to #{@tournament.name}", "/tournaments/#{@tournament.id}", :class=>"btn btn-default" %>
<br>
<br>
<h1><%= @weight.max %> lbs Bracket</h1>

<%= render 'pool' %>

<% if @bracketType == "twoPoolsToFinal" %>
	<%= render 'twoPoolFinalBracket' %>
<% end %>
<% if @bracketType == "twoPoolsToSemi" %>
	<%= render 'twoPoolSemiBracket' %>
<% end %>
<% if @bracketType == "fourPoolsToQuarter" %>
	<%= render 'fourPoolQuarterBracket' %>
<% end %>
<% if @bracketType == "fourPoolsToSemi" %>
	<%= render 'fourPoolSemiBracket' %>
<% end %>
<% if Rails.env.production? %>
<div class="ad">
        <script type='text/javascript' src='//eclkmpbn.com/adServe/banners?tid=85597_138467_7&type=shadowbox&size=800x440'></script>
    </div>
<% end %>