
<% cache ["brackets", @weight] do %>
	</br>
	</br>
	</br>
	
	<%= link_to "Back to #{@tournament.name}", "/tournaments/#{@tournament.id}", :class=>"btn btn-default" %>
	<br>
	<br>
	<h1><%= @weight.max %> lbs Bracket</h1>
	
	<%= render 'pool' %>
	
	<% if @bracketType == "twoPoolsToFinal" %>
		<%= render 'twoPoolFinalBracket' %>
	<% end %>
	<% if @bracketType == "twoPoolsToSemi" %>
		<%= render 'twoPoolSemiBracket' %>
	<% end %>
	<% if @bracketType == "fourPoolsToQuarter" %>
		<%= render 'fourPoolQuarterBracket' %>
	<% end %>
	<% if @bracketType == "fourPoolsToSemi" %>
		<%= render 'fourPoolSemiBracket' %>
	<% end %>
	<br><br>
	<% if @weight.wrestlers.size <= 6 && @weight.allPoolMatchesFinished(1) %>
		<%= render 'onePoolResults' %>
	<% end %>
<% end %>

<% if can? :manage, @tournament %> 
	<br><br>
	<h3>Swap Bracket Position</h3>
	  <%= form_for(Wrestler.new, url: swap_wrestlers_path(@tournament)) do |f| %>
	      <div class="field">
	        <%= f.label 'Wrestler 1' %><br>
	        <%= f.collection_select :originalId, @weight.wrestlers, :id, :name %>
	      </div>
	      <div class="field">
	        <%= f.label 'Wrestler 2' %><br>
	        <%= f.collection_select :swapId, @weight.wrestlers, :id, :name %>
	      </div>
	      <br>
	      <%= submit_tag "Swap", :class=>"btn btn-success"%>
	  <% end %>  
<% end %>