

 
 <%= link_to "Back to #{@tournament.name}", "/tournaments/#{@tournament.id}", :class=>"btn btn-default" %> 
<% if can? :manage, @tournament %>
 | <%= link_to "Edit #{@weight.max} Weight Class", edit_weight_path(@weight), :class=>"btn btn-primary" %>
 | <%= form_for(@weight, url: regen_weight_path(@weight.id), :method => "post") do |f| %>
      <%= submit_tag "Regenerate Weight Class Matches", :class=>"btn"%>
  <% end %>  
<% end %>

<br>
<h1>Weight Class:<%= @weight.max %></h1>
<br>
<br>
<table class="table table-striped table-bordered table-condensed">
	<thead>
		<tr>
			<th>Name</th>
			<th>School</th>
			<th>Seed</th>
			<th>Record</th>
			<th>Seed Criteria</th>
			<th>Extra?</th>
			<% if can? :manage, @tournament %><th>Actions for wrestler</th><% end %>
		</tr>
	</thead>
	<tbody>
    <%= form_tag @wrestlers_update_path do %>
		<% @wrestlers.sort_by{|w| [w.original_seed ? 0 : 1, w.original_seed || 0]}.each do |wrestler| %>
      		<% if wrestler.weight_id == @weight.id %>
      			<tr>
      				<td><%= wrestler.name %></td>
      				<td><%= wrestler.school.name %></td>
      				<td>
                <% if can? :manage, @tournament %>
                  <%= fields_for "wrestler[]", wrestler do |w| %>
                    <%= w.text_field :original_seed %>
                  <% end %> 
                <% else %>
                  <%= wrestler.original_seed %>
                <% end %>
              </td>
      				<td><%= wrestler.season_win %>-<%= wrestler.season_loss %></td>
      				<td><%= wrestler.criteria %> Win <%= wrestler.season_win_percentage %>%</td>
      				<td><% if wrestler.extra? == true %>
           				 Yes
          			<% end %></td>
      				<% if can? :manage, @tournament %> 
                                        <td><%= link_to 'Show', wrestler , :class=>"btn btn-default btn-sm" %>
      					<%= link_to 'Destroy', wrestler, method: :delete, data: { confirm: 'Are you sure?' } , :class=>"btn btn-danger btn-sm" %></td>
	      			<% end %>
      			</tr>
      		<% end %>
    	<% end %>
  	</tbody>
</table>
<br><p>*All wrestlers without a seed (determined by tournament director) will be assigned a random seed.</p>
		<% if can? :manage, @tournament %>
		<br>
	      <%= submit_tag "Save", :class=>"btn btn-success"%>
	    <% end %>
    <% end %>








