<h1>Listing wrestlers</h1>

<table class="table table-striped table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Weight</th>
      <th>Seed</th>
      <th>Original seed</th>
      <th>Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @wrestlers.each do |wrestler| %>
        <tr>
          <td><%= wrestler.name %></td>
          <td><%= Weight.find(wrestler.weight_id).max %></td>
          <td><%= wrestler.seed %></td>
          <td><%= wrestler.original_seed %></td>
          <td><%= link_to 'Show', wrestler , :class=>"btn btn-default" %><%= link_to 'Edit', edit_wrestler_path(wrestler), :class=>"btn btn-default" %><%= link_to 'Destroy', wrestler, method: :delete, data: { confirm: 'Are you sure?' }, :class=>"btn btn-danger"  %></td>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wrestler', new_wrestler_path %>
