<p id="notice"><%= notice %></p>

<%= link_to "Back to #{@school.name}", "/schools/#{@school.id}" %> |
<% if user_signed_in? %>
  <%= link_to "Edit #{@wrestler.name}", edit_wrestler_path(@wrestler) %> |
<% end %>

<p>
  <strong>Name:</strong>
  <%= @wrestler.name %>
</p>

<p>
  <strong>School:</strong>
  <%= School.find(@wrestler.school_id).name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= Weight.find(@wrestler.weight_id).max %>
</p>

<p>
  <strong>Original seed:</strong>
  <%= @wrestler.original_seed %>
</p>

