<p id="notice"><%= notice %></p>

<%= link_to "Back to #{@school.name}", "/schools/#{@school.id}" %> |
<% if tournament_permissions(@wrestler.tournament)  %>
  <%= link_to "Edit #{@wrestler.name}", edit_wrestler_path(@wrestler) %> |
<% end %>

<p>
  <strong>Name:</strong>
  <%= @wrestler.name %>
</p>

<p>
  <strong>School:</strong>
  <%= @wrestler.school.name %>
</p>

<p>
  <strong>Weight:</strong>
  <%= @wrestler.weight.max %>
</p>

<p>
  <strong>Team Points Scored:</strong>
  <%= @wrestler.totalTeamPoints - @wrestler.totalDeductedPoints %>
</p>

<br>
<br>

<% @wrestler.allMatches.each do |m| %>
<div> Bout: <%= m.bout_number %> <%= m.bracket_position %> <%= m.wrestler1.name %> vs. <%= m.wrestler2.name %> <%= m.bracketScore %></div>
<% end %>
<% @wrestler.deductedPoints.each do |w| %>
<div> Deducted points: <%= w.points %></div>
<% end %>
