

  <%= link_to "Back to #{@school.name}", "/schools/#{@school.id}", :class=>"btn btn-default" %>
  <% if can? :manage, @school %>
    | <%= link_to "Edit #{@wrestler.name}", edit_wrestler_path(@wrestler), :class=>"btn btn-primary" %>
  <% end %>
<% cache ["#{@wrestler.id}", @wrestler] do %>
  <br>
  <br>
  <p>
    <strong>Name:</strong>
    <%= @wrestler.name %>
  </p>

  <p>
    <strong>School:</strong>
    <%= @wrestler.school.name %>
  </p>

  <p>
    <strong>Weight:</strong>
    <%= @wrestler.weight.max %>
  </p>
  <p>
    <strong>Team Points Earned:</strong>
    <%= @wrestler.teamPointsEarned %>
  </p>
  <p>
    <strong>Team Points Deducted:</strong>
    <%= @wrestler.totalDeductedPoints %>
  </p>
  <p>
    <strong>Total Team Points Scored:</strong>
    <%= @wrestler.totalTeamPoints %>
  </p>

  <br>
  <br>
  <h4>Matches</h4>
  <br>
  <% @wrestler.allMatches.each do |m| %>
    <div> Bout: <%= m.bout_number %> <%= m.bracket_position %> <%= m.wrestler1.name %> vs. <%= m.wrestler2.name %> <%= @wrestler.resultByBout(m.bout_number) %></div>
    <% if m.w1_stat || m.w2_stat %>
      <div>Stats:</div>
      <div><%= m.list_w1_stats %></div>
      <div><%= m.list_w2_stats %></div>
      </br>
    <% end %>
  <% end %>
<% end %>
