<h4>Bout: <%= @match.bout_number %></h4>
<h4>Weight Class: <%= @match.weight.max %></h4>
<table class="table table-striped table-bordered table-condensed">
    <thead>
      <tr>
        <th></th>
        <th><%= @match.w1_name %> <%= "- #{@match.wrestler1.school.name}" if @match.wrestler1 %></th>
        <th><%= @match.w2_name %> <%= "- #{@match.wrestler2.school.name}" if @match.wrestler2 %></th>
      </tr>
    </thead>

    <tbody>
          <tr>
            <td>Stats</td>
            <td><%= @match.w1_stat %></td>
            <td><%= @match.w2_stat %></td>
          </tr>
            <td>Winner</td>
            <td><%= @match.winner_name %></td>
            <td></td>
          </tr>
          <tr>
            <td>Score</td>
            <td><%= @match.score %></td>
            <td></td>
          </tr>
    </tbody>
  </table>