<%= link_to "Back to #{@school.name}", "/schools/#{@school.id}", :class=>"btn btn-default" %>
<% cache ["#{@school.id}_Stats", @school] do %>
  <br>
  <br>
  <h2><%= @school.name %> Stats Summary</h2>
  <br>
  <h4>Matches</h4>
  <br>
  <table class="table">
    <thead>
      <tr>
        <th>Wrester</th>
        <th>Weight Class</th>
        <th>Bout</th>
        <th>Match Bracket Position</th>
        <th>Stats</th>
        <th>Result</th>
      </tr>
    </thead>
    <tbody>
      <% @school.wrestlers.each do |wrestler| %>
        <% wrestler.all_matches.each do |m| %>
          <tr>
            <td><%= wrestler.name %></td>
            <td><%= wrestler.weight.max %></td>
            <td><%= m.bout_number %></td>
            <td><%= m.bracket_position %></td>
            <td>
              <table class="table table-sm table-bordered">
                
                <tbody>
                  <tr>
                    <td><%= m.w1_name %></td>
                    <td><%= m.w1_stat %></td>
                  </tr>
                  <tr>
                    <td><%= m.w2_name %></td>
                    <td><%= m.w2_stat %></td>
                  </tr>
                </tbody>
              </table>
            </td>
            <td><%= wrestler.result_by_bout(m.bout_number) %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
<% end %>

