<p id="notice"><%= notice %></p>

<%= link_to "Back to #{@mat.tournament.name}", "/tournaments/#{@mat.tournament.id}", :class=>"btn btn-default" %>
<br>
<br>
<p>
  <strong>Mat <%= @mat.name %></strong>
</p>

<p>
  <strong>Tournament:</strong>
  <%= @mat.tournament.name %>
</p>

<br>
<br>

<%= render 'match_edit_form' %>

