<h3>Mat <%= @mat.name %></h3>
<h3>Tournament: <%= @mat.tournament.name %></h3>

<%= turbo_stream_from @mat %>

<%= turbo_frame_tag dom_id(@mat, :current_match) do %>
  <%= render "mats/current_match",
             mat: @mat,
             match: @match,
             next_match: @next_match,
             show_next_bout_button: @show_next_bout_button %>
<% end %>
