<nav class="navbar navbar-inverse navbar-fixed-top navbar-custom">
  <div class="container">
      <div class="navbar-header navbar-custom-header">
        <a class="navbar-brand navbar-custom-brand" href="/">WrestlingDev</a>
      </div>
        <ul class="nav navbar-nav navbar-right navbar-custom-link">
            <% if @tournament %>
                <li><%= link_to "Brackets" , "/tournaments/#{@tournament.id}/brackets" %></li>
                <li><%= link_to "Upcoming Matches" , "/tournaments/#{@tournament.id}/up_matches" %></li>
                <li><%= link_to "Results" , "/tournaments/#{@tournament.id}/results" %></li>
                <li><%= link_to "Team Scores" , "/tournaments/#{@tournament.id}/team_scores" %></li>
            <% end %>
            <% if user_signed_in? %>
                <li><%=link_to "Log out", destroy_user_session_url ,:method => 'delete' %></li>
		<li><%=link_to "Edit user", edit_user_registration_path %></li>
            <% else %>
                <li><%= link_to "Log In" , new_user_session_path %></li>
            <% end %>
        </ul>
  </div>
</nav>
