
        
        
        <!-- sidebar -->
        <% if @tournament %>
            <div class="" style="padding-right: 1%;">
                <h4>Tournament Links</h4>
                <ul class="">
                     
                    <li><%= link_to "Brackets" , "/tournaments/#{@tournament.id}/brackets" %></li>
                    <li><%= link_to "Upcoming Matches" , "/tournaments/#{@tournament.id}/up_matches" %></li>
                    <li><%= link_to "Team Scores" , "/tournaments/#{@tournament.id}/team_scores" %></li>
                </ul>
            </div>
            <% if tournament_permissions(@tournament)  %>
                <br><br>
                <div class="" style="padding-right: 1%;">
                         <h4>Tournament Director Links</h4>
                         
                        <br><strong>Pages</strong><br>
                        <br><%= link_to "Weigh In Page" , "/tournaments/#{@tournament.id}/weigh_in", class: "btn btn-primary btn-sm" %>

                        <br><br><strong>Time Savers</strong><br>
                        <br><%= link_to "Create High School Weights" , "/tournaments/#{@tournament.id}/create_custom_weights?customValue=hs",data: { confirm: 'Are you sure? This will delete all current weights.' }, class: "btn btn-success btn-sm" %>
                         
                        <br><br><strong>Tournament Actions</strong><br>
                        <br><%= link_to "Generate Brackets" , "/tournaments/#{@tournament.id}/generate_matches", data: { confirm: 'Are you sure? This will delete all current matches.' }, class: "btn btn-success btn-sm" %>

                </div>
            <% end %>
        <% end %>
        <br><br>
        
        
        
        