
        
        
        <!-- sidebar -->
        <% if @tournament %>
            <div class="" style="padding-right: 1%;">
                <h4>Tournament Links</h4>
                <ul class="">
                    <li><%= link_to "Tournament home" , "/tournaments/#{@tournament.id}/" %></li>
                    <li><%= link_to "Brackets" , "/tournaments/#{@tournament.id}/brackets" %></li>
                    <li><%= link_to "Bout Board" , "/tournaments/#{@tournament.id}/up_matches" %></li>
                    <li><%= link_to "Team Scores" , "/tournaments/#{@tournament.id}/team_scores" %></li>
                </ul>
            </div>
            <% if can? :manage, @tournament %>
                <br><br>
                <div class="" style="padding-right: 1%;">
                         <h4>Tournament Director Links</h4>
                         
                        <br><strong>Pages</strong><br>
                        <br><%= link_to "Weigh In Page" , "/tournaments/#{@tournament.id}/weigh_in" %>
                        <br><%= link_to "All Matches" , "/tournaments/#{@tournament.id}/matches" %>
                        <br><%= link_to "Full Screen Bout Board" , "/tournaments/#{@tournament.id}/up_matches?print=true" %>
                        <% if can? :destroy, @tournament %>
                            <br><%= link_to "Tournament Delegation" , "/tournaments/#{@tournament.id}/delegate" %>
                        <% end %>
                        <br><%= link_to "School Delegation" , "/tournaments/#{@tournament.id}/school_delegate"%>

                        <br><br><strong>Time Savers</strong><br>
                        <br><%= link_to "Create High School Weights" , "/tournaments/#{@tournament.id}/create_custom_weights?customValue=hs",data: { confirm: 'Are you sure? This will delete all current weights.' } %>
                         
                        <br><br><strong>Tournament Actions</strong><br>
                        <br><%= link_to "Generate Brackets" , "/tournaments/#{@tournament.id}/generate_matches", data: { confirm: 'Are you sure? This will delete all current matches.' } %>

                </div>
            <% end %>
        <% end %>
        <br>
        <% if Rails.env.production? %>
            <div class="adLNav">
                <script type="text/javascript">
                if(WURFL.is_mobile){
                    //Mobile and tablet ad
                    (function (){
                        if(window.CHITIKA===undefined) {window.CHITIKA = {'units' :[]};};
                        var unit = {"calltype":"async[2]","publisher":"cwimer","width":468,"height":60,"sid":"Chitika Default"};
                        var placement_id = window.CHITIKA.units.length;
                        window.CHITIKA.units.push(unit);
                        document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
                    }());
                } else {
                    //Desktop ad
                    (function (){
                        if(window.CHITIKA===undefined) {window.CHITIKA = {'units' :[]};};
                        var unit = {"calltype":"async[2]","publisher":"cwimer","width":300,"height":250,"sid":"Chitika Default"};
                        var placement_id = window.CHITIKA.units.length;
                        window.CHITIKA.units.push(unit);
                        document.write('<div id="chitikaAdBlock-' + placement_id + '"></div>');
                    }());
                }
                </script>
                <script type="text/javascript" src="//cdn.chitika.net/getads.js" async></script>
            </div>
        <% end %>
        
        
        
        