<!DOCTYPE html>
<html>
  <% if params[:print] %>
      <head>
        <title>WrestlingDev</title>
        <%= render 'layouts/cdn' %>
          <%= render 'layouts/shim' %>
      </head>
      <body>
        <%= yield %>
      </body>
  <% else %>
        <head>
          <title>WrestlingDev</title>
          
          <%= stylesheet_link_tag "application", media: "all",
                                                 "data-turbolinks-track" => true %>
          <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
          <%= csrf_meta_tags %>
          <%= render 'layouts/cdn' %>
          <%= render 'layouts/shim' %>
        </head>
        <body style="padding-top: 70px;">
            <div class="container">
                <div class="navbar-roof"></div>
                <%= render 'layouts/header' %>

                  <div id="page-content">
                    <div class="row no-margin">
                        <div class="col-md-2">
              			      <%= render 'layouts/lsidebar' %>
              		      </div>
                        <div class="col-md-8" style="padding-left: 2%;">
                          <p id="notice"><%= notice %></p>
                          <div id="view"><%= yield %></div>
                        </div>
            		      <div class="col-md-2" >
            			      <%= render 'layouts/rsidebar' %>
            		      </div>
                    </div>
                  </div>
                  <%= render 'layouts/footer' %>
            </div>
        </body>
        
    <% end %>
</html>

