<!DOCTYPE html>
<html>
  <% if params[:print] %>
      <head>
        <%= csrf_meta_tags %>
        <title>WrestlingDev</title>
        <%= stylesheet_link_tag "application", media: "all",
                                                 "data-turbolinks-track" => true %>
        <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
        <%= render 'layouts/cdn' %>
          <%= render 'layouts/shim' %>
      </head>
      <body>
        <%= yield %>
      </body>
  <% else %>
        <head>
          <title>WrestlingDev</title>
          <% if Rails.env.production? %>
            <%= render 'layouts/analytics' %>
          <% end %>
          <%= stylesheet_link_tag "application", media: "all",
                                                 "data-turbolinks-track" => true %>
          <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
          <%= csrf_meta_tags %>
          <%= render 'layouts/cdn' %>
          <%= render 'layouts/shim' %>
        </head>
        <body style="padding-top: 70px;">
            <div class="container">
                <div class="navbar-roof"></div>
                <%= render 'layouts/header' %>

                  <div id="page-content">
                    <div class="row">
                      <%= render 'layouts/tournament-navbar' %>
                    </div>
                    <div class="row">
                      <div class="col-md-12"><%= render 'layouts/underheader' %></div>
                    </div>
                    <div class="row no-margin">
                        <div class="col-md-12" style="padding-left: 2%;">
                          <% if notice %>
                            <p id="notice" class="alert alert-success alert-dismissible"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= notice %></p>
                          <% end %>
                          <% if alert %>
                            <p id="alert" class="alert alert-danger alert-dismissible"><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a><%= alert %></p>
                          <% end %>
                          <div id="view"><%= yield %></div>
                        </div>
                    </div>
                  </div>
                  <%= render 'layouts/footer' %>
            </div>
        </body>
    <% end %>
</html>

